  <footer style="text-align:center; padding:20px; margin-top:50px; background:#222; color:#fff;">
    <p>&copy; 2025 John von Neumann University | Developed by Khaliun Tamir & Enkhjee Gantulga</p>
  </footer>
</body>
</html>
